#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  background-color: cornflowerblue;
  color: aliceblue;
  margin: 10px;
}

.img-container {
  display: flex;
  flex-direction: column;
}

.dog-img {
  width: 250px;
  height: 250px;
  object-fit: fill;
  border-radius: 20px;
}